In [23]:
import pandas as pd
import numpy as np

In [24]:
common_data_set = pd.read_csv('common_data_set.csv')
common_data_set.head(20)

# show all columns
pd.set_option('display.max_columns', None)

common_data_set.head(20)

,year,school,total_applied,total_accepted,uw_gpa_avg,sat_25,sat_avg,sat_75,act_25,act_avg,act_75,sat_math_25,sat_math_75,sat_english_25,sat_english_75,act_math_25,act_math_75,act_english_25,act_english_75,top_10p,top_25p,top_50p,bottom_50p,bottom_25p,uw_gpa_400,uw_gpa_375_399,uw_gpa_350_374,uw_gpa_325_349,uw_gpa_300_324,uw_gpa_100_299
0,2019,UCLA,108831,13432,3.900,1290.0,NaN,1510.0,27.0,NaN,34.0,640.0,790.0,640.0,740.0,26.0,34.0,27.0,35.0,NaN,NaN,NaN,NaN,NaN,47.7,41.2,7.2,2.7,0.9,0.5
1,2020,UCLA,108877,15602,3.900,1290.0,NaN,1510.0,29.0,NaN,34.0,640.0,780.0,650.0,740.0,27.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.3,42.2,7.2,2.1,0.8,0.4
2,2021,UCLA,139490,15028,3.920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.4,36.4,5.7,1.7,0.6,0.2
3,2022,UCLA,149815,12844,3.930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.1,34.0,4.9,1.6,0.3,0.1
4,2023,UCLA,145910,12737,3.930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,34.4,4.5,1.4,0.4,0.3
5,2024,UCLA,146276,13114,3.930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.31,36.12,5.23,1.65,0.6,0.09
6,2020,UC Berkeley,87398,14676,3.930,1330.0,1430.0,1520.0,28.0,31.0,34.0,670.0,790.0,640.0,740.0,27.0,35.0,28.0,35.0,97.0,100.0,100.0,0.0,0.0,37.0,50.0,10.0,2.0,1.0,0.0
7,2021,UC Berkeley,112846,16410,3.867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,50.4,12.9,2.7,0.7,0.3
8,2022,UC Berkeley,128226,14614,3.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.8,51.8,8.0,1.0,0.4,0.1
9,2023,UC Berkeley,125916,14769,3.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.3,49.8,9.5,1.6,0.5,0.3
10,2024,UC Berkeley,124245,13714,3.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.7,51.5,8.6,1.5,0.4,0.3
11,2019,Hravard,43330,2009,NaN,NaN,NaN,NaN,33.0,NaN,35.0,750.0,800.0,710.0,770.0,31.0,36.0,34.0,36.0,93%,98%,100%,0%,0%,70.55%,22.26%,4.94%,1.67%,0.42%,0.16%
12,2020,Hravard,40248,2015,NaN,NaN,NaN,NaN,33.0,NaN,35.0,740.0,800.0,720.0,780.0,31.0,35.0,35.0,36.0,94%,98%,99.60%,0.40%,0.20%,75.76%,18.02%,4%,1.79%,0.32%,0.11%
13,2021,Harvard,57786,2318,NaN,NaN,NaN,NaN,33.0,NaN,36.0,750.0,800.0,730.0,780.0,32.0,35.0,35.0,36.0,93.10%,98.90%,99.70%,0.30%,0.00%,72.91%,20.82%,4.18%,1.30%,0.43%,0.36%
14,2022,Harvard,61221,1984,NaN,NaN,NaN,NaN,34.0,35.0,36.0,760.0,800.0,730.0,780.0,32.0,35.0,35.0,36.0,92.20%,97.60%,99.80%,0.20%,0.20%,74.30%,20.47%,4.04%,0.51%,0.34%,0.34%
15,2023,Harvard,56937,1965,NaN,NaN,NaN,NaN,34.0,35.0,36.0,760.0,800.0,740.0,780.0,33.0,36.0,35.0,36.0,94.40%,99.38%,99.79%,0.21%,0%,74.02%,19.67%,4.10%,1.07%,0.82%,0.32%
16,2024,Harvard,54008,1970,NaN,NaN,NaN,NaN,34.0,35.0,36.0,770.0,800.0,740.0,780.0,32.0,36.0,35.0,36.0,94%,99%,100%,0%,0%,72.41%,22.20%,4.11%,0.60%,0.17%,0.51%

#### Cleaning CDS

In [25]:
# Look at the general information of the dataframe
print(common_data_set.shape)

# Look at data types of each column
print(common_data_set.dtypes)

(17, 30)
year                int64
school             object
total_applied       int64
total_accepted      int64
uw_gpa_avg        float64
sat_25            float64
sat_avg           float64
sat_75            float64
act_25            float64
act_avg           float64
act_75            float64
sat_math_25       float64
sat_math_75       float64
sat_english_25    float64
sat_english_75    float64
act_math_25       float64
act_math_75       float64
act_english_25    float64
act_english_75    float64
top_10p            object
top_25p            object
top_50p            object
bottom_50p         object
bottom_25p         object
uw_gpa_400         object
uw_gpa_375_399     object
uw_gpa_350_374     object
uw_gpa_325_349     object
uw_gpa_300_324     object
uw_gpa_100_299     object
dtype: object

In [ ]:
# Change "Hravard" to "Harvard"
common_data_set['school'] = common_data_set['school'].replace('Hravard', 'Harvard') # replace function

# Get rid of all % signs
common_data_set = common_data_set.replace('%', '', regex = True)

# Change column type to floats
s = common_data_set.select_dtypes(include='object').columns # use select_dtypes to get the object columns
s = s.drop('school') # get rid of the school column
common_data_set[s] = common_data_set[s].astype("float") # change dtype to float
print(common_data_set.dtypes) # check!

year                int64
school             object
total_applied       int64
total_accepted      int64
uw_gpa_avg        float64
sat_25            float64
sat_avg           float64
sat_75            float64
act_25            float64
act_avg           float64
act_75            float64
sat_math_25       float64
sat_math_75       float64
sat_english_25    float64
sat_english_75    float64
act_math_25       float64
act_math_75       float64
act_english_25    float64
act_english_75    float64
top_10p           float64
top_25p           float64
top_50p           float64
bottom_50p        float64
bottom_25p        float64
uw_gpa_400        float64
uw_gpa_375_399    float64
uw_gpa_350_374    float64
uw_gpa_325_349    float64
uw_gpa_300_324    float64
uw_gpa_100_299    float64
dtype: object