In [44]:
import pandas as pd
import numpy as np

#### Reading in csv and excel files

In [45]:
ucla_grades_2022 = pd.read_excel('Responsive Documents (23-2380).xlsx') # use read_excel for excel files
ucla_grades_2023 = pd.read_excel('Responsive Documents (24-4198).xlsx')
ucla_grades_2024 = pd.read_excel('Responsive Documents (25-5881).xlsx')
ucla_grades_2021 = pd.read_excel('Responsive Documents (23-1856).xlsx')
harvard_cds = pd.read_csv('harvard_cds.csv') # use read_csv for csv files
berk_cds = pd.read_csv('berk_cds.csv')
stat_2_berk = pd.read_csv('stat_2_berk.csv')
stat_33a_berk = pd.read_csv('stat_33a_berk.csv')
stat_133_134_135_berk = pd.read_csv('stat_133_134_135_berk.csv')
stat_150_berk = pd.read_csv('stat_150_berk.csv')
stat_151a_berk = pd.read_csv('stat_151a_berk.csv')
stat_154_berk = pd.read_csv('stat_154_berk.csv')
ucla_cds = pd.read_csv('ucla_cds.csv')

In [46]:
ucla_grades_2022 =ucla_grades_2022[ucla_grades_2022['SUBJECT AREA'] == "STATS  "]
ucla_grades_2023 =ucla_grades_2023[ucla_grades_2023['subj_area_name'] == "STATISTICS"]
ucla_grades_2024 =ucla_grades_2024[ucla_grades_2024['subj_area_name'] == "STATISTICS"]
ucla_grades_2021 =ucla_grades_2021[ucla_grades_2021['SUBJECT AREA'] == "STATS  "]
ucla_grades_2024.head(5)

,enrl_term_cd,subj_area_name,disp_catlg_no,disp_sect_no,grd_cd,num_grd,enrl_tot,instr_nm,instr_func_cd,crs_long_ttl,subj_area_cd,crs_catlg_no,sect_no
4563,241,STATISTICS,10,1,P,2,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001
4564,241,STATISTICS,10,1,A+,47,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001
4565,241,STATISTICS,10,1,A,34,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001
4566,241,STATISTICS,10,1,A-,20,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001
4567,241,STATISTICS,10,1,B+,12,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001

In [47]:
ucla_grades_2021.head(5)

,ENROLLMENT TERM,SUBJECT AREA,CATLG NBR,SECT NBR,GRD OFF,GRD COUNT,ENRL TOT,INSTR NAME,INSTR CD,LONG CRSE TITLE,ENROL TERM SEQ NBR,INTL CATL,INTL SECT,CREATION DATE,ROWNO
12026,21F,STATS,10,1,A+,58,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1
12027,21F,STATS,10,1,A,40,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1
12028,21F,STATS,10,1,A-,23,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1
12029,21F,STATS,10,1,B+,3,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1
12030,21F,STATS,10,1,B,9,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1

In [48]:
ucla_grades_2022.head(5)

,ENROLLMENT TERM,SUBJECT AREA,CATLG NBR,SECT NBR,GRD OFF,GRD COUNT,ENRL TOT,INSTR NAME,INSTR CD,LONG CRSE TITLE,ENROL TERM SEQ NBR,INTL CATL,INTL SECT,CREATION DATE,ROWNO
11483,22F,STATS,10,1,A+,40,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1
11484,22F,STATS,10,1,A,31,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1
11485,22F,STATS,10,1,A-,9,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1
11486,22F,STATS,10,1,B+,13,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1
11487,22F,STATS,10,1,B,11,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1

In [49]:
ucla_grades_2023.head(5)

,enrl_term_cd,subj_area_name,disp_catlg_no,disp_sect_no,grd_cd,num_grd,enrl_tot,instr_nm,instr_func_cd,crs_long_ttl,subj_area_cd,crs_catlg_no,sect_no
4183,231,STATISTICS,10,1,A+,33,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001
4184,231,STATISTICS,10,1,P,1,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001
4185,231,STATISTICS,10,1,A,19,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001
4186,231,STATISTICS,10,1,A-,13,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001
4187,231,STATISTICS,10,1,B+,6,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001

#### Combine datasets so there are three total: Common Data Set, UCLA Grade Distributions, and UC Berkeley Grade Distributions

There are three main methods to combine datasets: concat(), merge(), and join(). Feel free to read documentation on them, but I will give a brief summary of what each of them do and how they differ.

concat(): This combines along columns (you add columns that don't exist previously) or rows (add rows that don't exist previously). This is kind of similar to the SQL join method, where you can choose inner join (only get columns/indices that are shared) or outer join (return everything)

merge(): This is even closer to the SQL join method, where there's left, right, outer, inner, cross join. This is primarily used for joining through columns.

join(): Also similar to SQL join method, with left, right, outer, etc. This is mainly for combining datasets through their indices.

### Common Data Set

Since we are ADDING NEW ROWS based on existing columns and not adding new columns based on existing rows, we can use concat

In [50]:
common_data_set = pd.concat([ucla_cds, berk_cds, harvard_cds], ignore_index=True)
common_data_set.head(20)

common_data_set.to_csv('common_data_set.csv', encoding='utf-8', index=False)

#### UC Berkeley Grade Distributions

Same rationale: since we are adding new rows based on existing columns and not adding new columns, we can use concat

In [51]:
berkeley_grades = pd.concat([stat_2_berk, stat_33a_berk, stat_133_134_135_berk, stat_150_berk, stat_151a_berk, stat_154_berk], ignore_index = True)
berkeley_grades.head()

,ENROLLMENT TERM,SUBJECT AREA,CATLG NBR,GRD OFF,GRD COUNT,ENRL TOT,LONG CRSE TITLE
0,Fall 2020,STATS,2,A+,31,257,Introduction to Statistics
1,Fall 2020,STATS,2,A,76,257,Introduction to Statistics
2,Fall 2020,STATS,2,A-,59,257,Introduction to Statistics
3,Fall 2020,STATS,2,B+,27,257,Introduction to Statistics
4,Fall 2020,STATS,2,B,27,257,Introduction to Statistics

In [52]:
berkeley_grades.tail()

,ENROLLMENT TERM,SUBJECT AREA,CATLG NBR,GRD OFF,GRD COUNT,ENRL TOT,LONG CRSE TITLE
744,Spring 2025,STATS,154,B+,8,33,Modern Statistical Prediction and Machine Lear...
745,Spring 2025,STATS,154,B,7,33,Modern Statistical Prediction and Machine Lear...
746,Spring 2025,STATS,154,C+,2,33,Modern Statistical Prediction and Machine Lear...
747,Spring 2025,STATS,154,C,2,33,Modern Statistical Prediction and Machine Lear...
748,Spring 2025,STATS,154,C-,3,33,Modern Statistical Prediction and Machine Lear...

In [53]:
berkeley_grades.to_csv('berkeley_grades.csv', encoding='utf-8', index=False)

#### UCLA Grade Distributions

In [54]:
# drop the columns that are irrelevant
ucla_grades_2021 = ucla_grades_2021[['ENROLLMENT TERM', 'SUBJECT AREA', 'CATLG NBR', 'GRD OFF', 'GRD COUNT', 'ENRL TOT', 'LONG CRSE TITLE', 'INSTR NAME']]
ucla_grades_2021.head()

,ENROLLMENT TERM,SUBJECT AREA,CATLG NBR,GRD OFF,GRD COUNT,ENRL TOT,LONG CRSE TITLE,INSTR NAME
12026,21F,STATS,10,A+,58,150,Introduction to Statistical Reasoning,"CHA, MARIA"
12027,21F,STATS,10,A,40,150,Introduction to Statistical Reasoning,"CHA, MARIA"
12028,21F,STATS,10,A-,23,150,Introduction to Statistical Reasoning,"CHA, MARIA"
12029,21F,STATS,10,B+,3,150,Introduction to Statistical Reasoning,"CHA, MARIA"
12030,21F,STATS,10,B,9,150,Introduction to Statistical Reasoning,"CHA, MARIA"

In [55]:
ucla_grades_2022 = ucla_grades_2022[['ENROLLMENT TERM', 'SUBJECT AREA', 'CATLG NBR', 'GRD OFF', 'GRD COUNT', 'ENRL TOT', 'LONG CRSE TITLE', 'INSTR NAME']]
ucla_grades_2022.head()

,ENROLLMENT TERM,SUBJECT AREA,CATLG NBR,GRD OFF,GRD COUNT,ENRL TOT,LONG CRSE TITLE,INSTR NAME
11483,22F,STATS,10,A+,40,135,Introduction to Statistical Reasoning,"CHA, MARIA"
11484,22F,STATS,10,A,31,135,Introduction to Statistical Reasoning,"CHA, MARIA"
11485,22F,STATS,10,A-,9,135,Introduction to Statistical Reasoning,"CHA, MARIA"
11486,22F,STATS,10,B+,13,135,Introduction to Statistical Reasoning,"CHA, MARIA"
11487,22F,STATS,10,B,11,135,Introduction to Statistical Reasoning,"CHA, MARIA"

In [56]:
# get corresponding columns
ucla_grades_2023 = ucla_grades_2023[['enrl_term_cd', 'disp_catlg_no', 'grd_cd', 'num_grd', 'enrl_tot', 'crs_long_ttl', 'subj_area_cd', 'instr_nm']]
ucla_grades_2023.head()

# rename the columns
ucla_grades_2023 = ucla_grades_2023.rename(columns={'enrl_term_cd': 'ENROLLMENT TERM', 'disp_catlg_no': 'CATLG NBR', 'grd_cd': 'GRD OFF', 'num_grd': 'GRD COUNT', 'enrl_tot': 'ENRL TOT', 'crs_long_ttl': 'LONG CRSE TITLE', 'subj_area_cd': 'SUBJECT AREA', 'instr_nm': 'INSTR NAME'})
ucla_grades_2023.head()

# see what enrollment terms there are
ucla_grades_2023['ENROLLMENT TERM'].unique() #231 is summer

array(['231', '23F', '24W', '24S'], dtype=object)

In [57]:
ucla_grades_2024 = ucla_grades_2024[['enrl_term_cd', 'disp_catlg_no', 'grd_cd', 'num_grd', 'enrl_tot', 'crs_long_ttl', 'subj_area_cd', 'instr_nm']]
ucla_grades_2024.head()
ucla_grades_2024 = ucla_grades_2024.rename(columns={'enrl_term_cd': 'ENROLLMENT TERM', 'disp_catlg_no': 'CATLG NBR', 'grd_cd': 'GRD OFF', 'num_grd': 'GRD COUNT', 'enrl_tot': 'ENRL TOT', 'crs_long_ttl': 'LONG CRSE TITLE', 'subj_area_cd': 'SUBJECT AREA', 'instr_nm': 'INSTR NAME'})
ucla_grades_2024.head()

,ENROLLMENT TERM,CATLG NBR,GRD OFF,GRD COUNT,ENRL TOT,LONG CRSE TITLE,SUBJECT AREA,INSTR NAME
4563,241,10,P,2,138,Introduction to Statistical Reasoning,STATS,"WANG, BINGLING"
4564,241,10,A+,47,138,Introduction to Statistical Reasoning,STATS,"WANG, BINGLING"
4565,241,10,A,34,138,Introduction to Statistical Reasoning,STATS,"WANG, BINGLING"
4566,241,10,A-,20,138,Introduction to Statistical Reasoning,STATS,"WANG, BINGLING"
4567,241,10,B+,12,138,Introduction to Statistical Reasoning,STATS,"WANG, BINGLING"

In [58]:
ucla_grades = pd.concat([ucla_grades_2021, ucla_grades_2022, ucla_grades_2023, ucla_grades_2024], ignore_index= True)
ucla_grades.head()

,ENROLLMENT TERM,SUBJECT AREA,CATLG NBR,GRD OFF,GRD COUNT,ENRL TOT,LONG CRSE TITLE,INSTR NAME
0,21F,STATS,10,A+,58,150,Introduction to Statistical Reasoning,"CHA, MARIA"
1,21F,STATS,10,A,40,150,Introduction to Statistical Reasoning,"CHA, MARIA"
2,21F,STATS,10,A-,23,150,Introduction to Statistical Reasoning,"CHA, MARIA"
3,21F,STATS,10,B+,3,150,Introduction to Statistical Reasoning,"CHA, MARIA"
4,21F,STATS,10,B,9,150,Introduction to Statistical Reasoning,"CHA, MARIA"

In [68]:
ucla_grades.to_csv('ucla_grades.csv', encoding='utf-8', index=False)