In [1]:
import pandas as pd
import numpy as np

#### Reading in csv and excel files

In [ ]:
ucla_grades_2022 = pd.read_excel('Responsive Documents (23-2380).xlsx') # use read_excel for excel files
ucla_grades_2023 = pd.read_excel('Responsive Documents (24-4198).xlsx')
ucla_grades_2024 = pd.read_excel('Responsive Documents (25-5881).xlsx')
ucla_grades_2021 = pd.read_excel('Responsive Documents (23-1856).xlsx')
harvard_cds = pd.read_csv('harvard_cds.csv') # use read_csv for csv files
berk_cds = pd.read_csv('berk_cds.csv')
stat_2_berk = pd.read_csv('stat_2_berk.csv')
stat_33a_berk = pd.read_csv('stat_33a_berk.csv')
stat_133_134_135_berk = pd.read_csv('stat_133_134_135_berk.csv')
stat_150_berk = pd.read_csv('stat_150_berk.csv')
stat_151a_berk = pd.read_csv('stat_151a_berk.csv')
stat_154_berk = pd.read_csv('stat_154_berk.csv')
ucla_cds = pd.read_csv('ucla_cds.csv')

In [15]:
ucla_grades_2022 =ucla_grades_2022[ucla_grades_2022['SUBJECT AREA'] == "STATS  "]
ucla_grades_2023 =ucla_grades_2023[ucla_grades_2023['subj_area_name'] == "STATISTICS"]
ucla_grades_2024 =ucla_grades_2024[ucla_grades_2024['subj_area_name'] == "STATISTICS"]
ucla_grades_2021 =ucla_grades_2021[ucla_grades_2021['SUBJECT AREA'] == "STATS  "]
ucla_grades_2024.head(5)

,enrl_term_cd,subj_area_name,disp_catlg_no,disp_sect_no,grd_cd,num_grd,enrl_tot,instr_nm,instr_func_cd,crs_long_ttl,subj_area_cd,crs_catlg_no,sect_no
4563,241,STATISTICS,10,1,P,2,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001
4564,241,STATISTICS,10,1,A+,47,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001
4565,241,STATISTICS,10,1,A,34,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001
4566,241,STATISTICS,10,1,A-,20,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001
4567,241,STATISTICS,10,1,B+,12,138,"WANG, BINGLING",1,Introduction to Statistical Reasoning,STATS,0010,001

In [16]:
ucla_grades_2021.head(5)

,ENROLLMENT TERM,SUBJECT AREA,CATLG NBR,SECT NBR,GRD OFF,GRD COUNT,ENRL TOT,INSTR NAME,INSTR CD,LONG CRSE TITLE,ENROL TERM SEQ NBR,INTL CATL,INTL SECT,CREATION DATE,ROWNO
12026,21F,STATS,10,1,A+,58,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1
12027,21F,STATS,10,1,A,40,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1
12028,21F,STATS,10,1,A-,23,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1
12029,21F,STATS,10,1,B+,3,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1
12030,21F,STATS,10,1,B,9,150,"CHA, MARIA",1,Introduction to Statistical Reasoning,265,0010,001,Jun 9 2023 2:32PM,1

In [17]:
ucla_grades_2022.head(5)

,ENROLLMENT TERM,SUBJECT AREA,CATLG NBR,SECT NBR,GRD OFF,GRD COUNT,ENRL TOT,INSTR NAME,INSTR CD,LONG CRSE TITLE,ENROL TERM SEQ NBR,INTL CATL,INTL SECT,CREATION DATE,ROWNO
11483,22F,STATS,10,1,A+,40,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1
11484,22F,STATS,10,1,A,31,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1
11485,22F,STATS,10,1,A-,9,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1
11486,22F,STATS,10,1,B+,13,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1
11487,22F,STATS,10,1,B,11,135,"CHA, MARIA",1,Introduction to Statistical Reasoning,270,0010,001,Aug 16 2023 12:50PM,1

In [18]:
ucla_grades_2023.head(5)

,enrl_term_cd,subj_area_name,disp_catlg_no,disp_sect_no,grd_cd,num_grd,enrl_tot,instr_nm,instr_func_cd,crs_long_ttl,subj_area_cd,crs_catlg_no,sect_no
4183,231,STATISTICS,10,1,A+,33,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001
4184,231,STATISTICS,10,1,P,1,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001
4185,231,STATISTICS,10,1,A,19,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001
4186,231,STATISTICS,10,1,A-,13,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001
4187,231,STATISTICS,10,1,B+,6,112,"CHA, MARIA",1,Introduction to Statistical Reasoning,STATS,0010,001

#### Combine datasets so there are three total: Common Data Set, UCLA Grade Distributions, and UC Berkeley Grade Distributions